@model SICI_MVC.Models.SIGMA.Altas_Detalladas_Pagina

@{
    ViewBag.Title = "Altas Detalladas";
}

<p></p>

@using (Html.BeginForm("Altas_Detalladas", "Home", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <strong>ALTAS DETALLADAS DE EFECTOS EN UN RANGO DE FECHAS DE ALTA</strong>
        </div>
        <div class="panel-body" style="text-align:center">
            <div class="form-inline">
                @Html.Label("NNE: ")
                @Html.TextBox("txtNNE", "", new { @class = "form-control", @maxLength = "13", @style = "width:200px;" })
                @Html.Label("     ")
                @Html.Label("FECHA DESDE: ")
                @Html.TextBox("txtFECHA_DESDE", "", new { @class = "form-control date-picker", @maxLength = "10", @type = "date", @style = "width:200px;" })
                @Html.Label("     ")
                @Html.Label("FECHA HASTA: ")
                @Html.TextBox("txtFECHA_HASTA", "", new { @class = "form-control date-picker", @type = "date", @maxLength = "10", @style = "width:200px;" })
                <button type="submit" class="btn btn-info">Buscar</button>
            </div>
        </div>
    </div>
}

@if (Model.Altas_Detalladas != null)
{
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th class="text-center">
            @Html.DisplayName("NUMERO")
            <br />
            @Html.DisplayName("LOTE")
        </th>
        <th class="text-center">
            @Html.DisplayName("FECHA")
            <br />
            @Html.DisplayName("ALTA")
        </th>
        <th class="text-center">
            @Html.DisplayName("ORIGEN")
            <br />
            @Html.DisplayName("GASTO")
        </th>
        <th class="text-center">
            @Html.DisplayName("PROVEEDOR")
        </th>
        <th class="text-center">
            @Html.DisplayName("CANT")
            <br />
            @Html.DisplayName("TOTAL")
        </th>
        <th class="text-center">
            @Html.DisplayName("PRECIO")
            <br />
            @Html.DisplayName("COMPRA")
        </th>
        <th class="text-center">
            @Html.DisplayName("TOTAL")
            <br />
            @Html.DisplayName("COMPRA")
        </th>
        <th class="text-center">
            @Html.DisplayName("AMORTIZAC")
            <br />
            @Html.DisplayName("ACUMULADA")
        </th>
        <th class="text-center">
            @Html.DisplayName("VALOR")
            <br />
            @Html.DisplayName("ACTUAL")
        </th>
    </tr>

    @for (int i = 0; i < Model.Altas_Detalladas.Count; i++)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => Model.Altas_Detalladas[i].NroLote)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => Model.Altas_Detalladas[i].Fecha_Alta)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => Model.Altas_Detalladas[i].Origen_Gasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Altas_Detalladas[i].Desc_Proveedor)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => Model.Altas_Detalladas[i].Cantidad)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => Model.Altas_Detalladas[i].Valor_Adquisicion)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => Model.Altas_Detalladas[i].Total_Compra)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => Model.Altas_Detalladas[i].Amortizacion_Acumulada)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => Model.Altas_Detalladas[i].Valor_Actual)
            </td>
        </tr>
    }

</table>

    if (Model.Altas_Detalladas.Count > 0)
    {
        Html.RenderPartial("_paginador", Model);
    }
}

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success text-center">
        <strong>@ViewBag.Mensaje</strong>
    </div>
}

@if (ViewBag.Resultado != null)
{
    <div class="alert alert-info text-center">
        <strong>@ViewBag.Resultado</strong>
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-warning text-center">
        <strong>@ViewBag.Error</strong>
    </div>
}
