@model SICI_MVC.Models.SICI.Patrimonio_Anualizado_Pagina

@{
    ViewBag.Title = "Patrimonio Anualizado";
}

<p></p>

@using (Html.BeginForm("Patrimonio_Anualizado", "Home", FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <strong>PATRIMONIO ANUALIZADO DE LOS DISTINTOS INVENTARIOS DE LA ARMADA ARGENTIMA</strong>
        </div>
        <div class="panel-body" style="text-align:center">
            <div class="form-inline">
                @Html.Label("AÑO DESDE: ")
                @Html.TextBox("txtAÑO_DESDE", "", new { @class = "form-control", @type = "number", @style = "width:100px;" })
                @Html.Label("      ")
                @Html.Label("AÑO HASTA: ")
                @Html.TextBox("txtAÑO_HASTA", "", new { @class = "form-control", @type = "number", @style = "width:100px;" })
                <button type="submit" class="btn btn-info">Buscar</button>
            </div>
        </div>
    </div>
}

@if (Model.Patrimonio_Anualizado != null)
{
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th class="text-center" rowspan="2">
                <br/>
                @Html.DisplayName("AÑO")
                <br />
                @Html.DisplayName("ALTA")
            </th>
            <th class="text-center" colspan="6">
                @Html.DisplayName("BIENES DE USO - TOTALES VALORIZADOS")
            </th>
            <th class="text-center" colspan="3">
                @Html.DisplayName("BIENES DE CONSUMO - TOTALES VALORIZADOS")
            </th>
        </tr>
        <tr>
            <th class="active text-center">
                @Html.DisplayName("DGMN")
            </th>
            <th class="active text-center">
                @Html.DisplayName("DGSA")
            </th>
            <th class="active text-center">
                @Html.DisplayName("DIAB")
            </th>
            <th class="active text-center">
                @Html.DisplayName("SIEC")
            </th>
            <th class="active text-center">
                @Html.DisplayName("SGNA")
            </th>
            <th class="active text-center">
                @Html.DisplayName("SIHN")
            </th>
            <th class="active text-center">
                @Html.DisplayName("JEMA")
            </th>
            <th class="active text-center">
                @Html.DisplayName("DIAE")
            </th>
            <th class="active text-center">
                @Html.DisplayName("DIAB")
            </th>
        </tr>

        @for (int i = 0; i < Model.Patrimonio_Anualizado.Count; i++)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.Patrimonio_Anualizado[i].Año)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.Patrimonio_Anualizado[i].Total_DGMN_Uso)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.Patrimonio_Anualizado[i].Total_DGSA_Uso)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.Patrimonio_Anualizado[i].Total_DIAB_Uso)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.Patrimonio_Anualizado[i].Total_SIEC_Uso)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.Patrimonio_Anualizado[i].Total_SGNA_Uso)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.Patrimonio_Anualizado[i].Total_SIHN_Uso)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.Patrimonio_Anualizado[i].Total_JEMA_Consumo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.Patrimonio_Anualizado[i].Total_DIAE_Consumo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.Patrimonio_Anualizado[i].Total_DIAB_Consumo)
                </td>
            </tr>
        }

    </table>

    if (Model.Patrimonio_Anualizado.Count > 0)
    {
        Html.RenderPartial("_paginador", Model);
    }
}

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success text-center">
        <strong>@ViewBag.Mensaje</strong>
    </div>
}
@if (ViewBag.Resultado != null)
{
    <div class="alert alert-info text-center">
        <strong>@ViewBag.Resultado</strong>
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-warning text-center">
        <strong>@ViewBag.Error</strong>
    </div>
}