
@{
    ViewBag.Title = "Menú Principal DGMN";
}

    <div class="row">
        <div class="col-md-12" style="background-color:silver">
            <h1>DGMN</h1>
            <p style="font-size:x-large">Dirección General del Material Naval - Consultas Generales</p>
        </div>
        <p>&nbsp</p>

        <div class="col-md-3" style="background-color:beige">
            <h3>Altas Anuales</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Altas_Anuales", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:lavender">
            <h3>Altas Detalladas</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Altas_Detalladas", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:bisque">
            <h3>Altas Generales</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Altas_Generales", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:pink">
            <h3>Altas Totalizadas</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Altas_Totalizadas", "Home", null, new { @class = "btn btn-info" })</p>
        </div>

        <div class="col-md-3" style="background-color:gainsboro">
            <h3>Amortizaciones Anuales</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Amortizaciones_Anuales", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:thistle">
            <h3>Descargos Valorizados</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Descargos_Valorizados", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:burlywood">
            <h3>Despiece Valorizado</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Despiece_Valorizado", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:khaki">
            <h3>Inventario Valorizado</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Inventario_Valorizado", "Home", null, new { @class = "btn btn-info" })</p>
        </div>

        <div class="col-md-3" style="background-color:blanchedalmond">
            <h3>Lotes Destino</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Lotes_Destino", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:cadetblue">
            <h3>Lotes Inventario</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Lotes_Inventario", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:cornsilk">
            <h3>Efectos Amortizados</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Efectos_Amortizados", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:aquamarine">
            <h3>Valorizacion Detallada</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Valorizacion_Detallada", "Home", null, new { @class = "btn btn-info" })</p>
        </div>

        <div class="col-md-3" style="background-color:darkseagreen">
            <h3>Totales Destino</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Totales_Destino", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:lemonchiffon">
            <h3>Totales Cargo Destino</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Totales_Cargo_Destino", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:lightsteelblue">
            <h3>Totales Cargo Efecto</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Totales_Cargo_Efecto", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
        <div class="col-md-3" style="background-color:darkkhaki">
            <h3>Totales Efecto</h3>
            <p>@Html.ActionLink("CONSULTAR >>", "Totales_Efecto", "Home", null, new { @class = "btn btn-info" })</p>
        </div>
    </div>

